* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: plusjakartasans;
  font-size: 52.5%;
}

body {
  font-size: 1.6rem;
  background-color: $Very-light-grayish-blue;
  color: $Dark-grayish-blue;
}
